<div class="main">
<form action="/weather" method="POST" >
<input type="text" name="cityName" placeholder="Enter city name">
<input type="submit" value="send">
<h4>{{cityName}}</h4>
</form>
</div>