body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(15, 121, 192);
}
p {
	text-align: center;
	font-weight: 800;
	font-size: 25px;
}
.main {
	width: 70%;
	height: 500px;
	margin: auto;
	background-color: #4bb7e9;
	color: rgb(240, 228, 228);
	overflow: hidden;
}

form {
	text-align: center;
	margin: 0 auto;
}

.input {
	display: block;
	margin: 0 auto;
	padding: 10px;
	min-width: 298px;
	height: 20px;
}

.button {
	width: 320px;
	background: rgb(15, 121, 192);
	color: rgb(240, 231, 231);
	padding: 10px;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
	border: whitesmoke solid 2px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.info {
	margin-left: auto;
	margin-right: auto;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

th {
	background-color: rgb(15, 121, 192);
	border: whitesmoke solid 2px;
	padding: 5px;
	min-width: 300px;
	height: 30px;
}
